.todoWrapper {
  border-bottom: 1px solid gold;
  text-align: center;
  margin-bottom: 10px;
}

.removeTodo {
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  color: white;
  border-color: #6a2c70;
  background-color: transparent;
}
